.c-pointer {
    cursor: pointer;
}

.social-profile {
    position: relative;
    /* padding-top: 15px; */
}

.social-profile img {
    width: 100%;
    width: 330px;
    height: 330px;
    margin: auto;
}

.social-profile:hover .profile-hvr,
.social-wallpaper:hover .profile-hvr {
    opacity: 1;
}

.profile-hvr {
    opacity: 0;
    position: absolute;
    text-align: center;
    width: 100%;
    font-size: 20px;
    padding: 10px;
    top: 0;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.61);
    -webkit-transition: all ease-in-out 0.3s;
    -moz-transition: all ease-in-out 0.3s;
    -ms-transition: all ease-in-out 0.3s;
    transition: all ease-in-out 0.3s;
}

.image-upload input {
    visibility: hidden;
    max-width: 0;
    max-height: 0;
}

.file-upload-lbl {
    max-width: 15px;
    padding: 5px 0 0;
}

.p-r-10 {
    padding-right: 10px;
}

.clearfix {
    overflow: auto;
}

.card-login {
    background: transparent;
    box-shadow: none;
    color: #000;
}

.login-card-body {
    background: transparent;
    color: #000;
}

.login-card-body .input-group .input-group-text {
    background: #fff;
    color: #000;
}

.login-logo a {
    color: #000;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.mb-20 {
    margin-bottom: 20px;
}

.common-img-bg {
    height: 100%;
    background: url("../images/login/background-login.jpg") no-repeat;
    background-size: cover;
}

.login {
    position: fixed;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    text-align: left;
    background-color: #54e031 !important;
}

.login h3 {
    color: #666666;
    font-size: 20px;
    margin: 25px;
}

.login label {
    color: #000;
    font-size: 15px;
    font-weight: 600;
}

.social-login {
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
    padding-bottom: 30px;
}

.social-login .btn {
    margin-left: 5px;
    margin-right: 5px;
}

.hide {
    display: none;
}

@media (max-width: 576px) {
    .labelUser {
        display: none;
    }
}


/* .social-profile {
    margin: 0px 0px 40px 0px;
} */